/* About min-, max- width, height :
 * http://forum.alsacreations.com/faq/faq-81-Min-width-max-width-min-height-et-max-height-sur-Internet-Explorer.html
 * Links order definition must be: :link, :visited, :hover, :active
 * About CSS compatibility :
 * http://jadavey.net/PACS_CSS/Samples/
 */
a, div, img, table, span {
  margin:0;
  border:0;
  padding:0;
}
/* Overloaded OpenLayers : */
.olControlLoadingPanel {
  background-image:url(img/loading.gif);
  background-position:center;
  background-repeat:no-repeat;
}
.olControlNoSelect {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  behavior: url(ieuserselectnone.htc);
}
/* Geoportal.Viewer : */
.gpMainMap {
  position:relative;
  border:3px solid #336699;
}
.gpMap {
  position:relative;
  overflow:hidden;
  background-color:#EEEEEE;
  text-align:left !important;/* prevent OL Feature to be badly displayed */
}
/* tries to prevent img style with margin!=0 leading in bad tiles displaying: */
.gpMap img {
  border:0px;
  padding:0px;
  margin:0px;
}
/* Geoportal.Control.ToolBox : */
.gpControlToolBox {
  right:0px;
  top:0px;
}
.gpZoomBarClass {
  border-top:1px solid #FFFFFF;
  float:left;
  height:140px;
  width:100%;
  margin:0px 0px 0px 0px;
  padding-left:3px;
  padding-top:3px;
}
.gpToolBoxContent {
  float:left;
  width:72px;
  /*font-size:0.7em;*/
  background-color:#99CCFF;
  text-align:left;
  border:1px solid #606060;
}
.gpToolBoxContentContainer {
}
.gpControlOverview {
  background:#FFFFFF none repeat scroll 0%;
  border-top:6px solid #FFFFFF;
  cursor:pointer;
}
.gpToolBoxClass {
  background-color:#FFFFFF;
  border:1px solid #FFFFFF;
  color:#595E61;
  cursor:default;
  float:left;
  /*font-size:11px;*/
  font-weight:normal;
  overflow:hidden;
  width:74px;
}
/* Geoportal.Control.NavToolbar : */
.gpControlNavToolbar {
  float:left;
  position:relative;
  height:27px;
  width:100%;
}
.gpControlNavToolbar div {
  display:block;
  float:left;
  width:23px;
  height:23px;
  position:relative;
  left:1%;
  top:0px;
}
.gpControlNavToolbar .olControlNavigationItemActive {
  background-image:url("img/picto_drag_on.gif");
  background-repeat:no-repeat;
}
.gpControlNavToolbar .olControlNavigationItemInactive {
  background-image:url("img/picto_drag_off.gif");
  background-repeat:no-repeat;
  cursor:pointer;
}
.gpControlNavToolbar .olControlZoomBoxItemActive {
  background-image:url("img/picto_zoomSel_on.gif");
  background-repeat:no-repeat;
}
.gpControlNavToolbar .olControlZoomBoxItemInactive {
  background-image:url("img/picto_zoomSel_off.gif");
  background-repeat:no-repeat;
  cursor:pointer;
}
.gpControlNavToolbar .olControlZoomToMaxExtentItemActive {
  background-image:url("img/picto_zoomToMapExtent_on.gif");
  background-repeat:no-repeat;
}
.gpControlNavToolbar .olControlZoomToMaxExtentItemInactive {
  background-image:url("img/picto_zoomToMapExtent_off.gif");
  background-repeat:no-repeat;
  cursor:pointer;
}
/* Geoportal.Control.MeasureToolbar : */
.gpControlMeasureToolbar {
  float:left;
  position:relative;
  height:27px;
  width:100%;
}
.gpControlMeasureToolbar div {
  display:block;
  float:left;
  width:23px;
  height:23px;
  position:relative;
  left:1%;
  top:0px;
}
.gpControlMeasureToolbar .olControlMeasurePathItemActive {
  background-image:url("img/picto_measure_length_on.gif");
  background-repeat:no-repeat;
}
.gpControlMeasureToolbar .olControlMeasurePathItemInactive {
  background-image:url("img/picto_measure_length_off.gif");
  background-repeat:no-repeat;
  cursor:pointer;
}
.gpControlMeasureToolbar .olControlMeasurePolygonItemActive {
  background-image:url("img/picto_measure_area_on.gif");
  background-repeat:no-repeat;
}
.gpControlMeasureToolbar .olControlMeasurePolygonItemInactive {
  background-image:url("img/picto_measure_area_off.gif");
  background-repeat:no-repeat;
  cursor:pointer;
}
.gpControlMeasureToolbarResult {
  float:left;
  position:relative;
  height:34px;
  width:100%;
  border:1px outset #FFFFFF;
  background:#336699;
  font-family:Arial,Helvetica,sans-serif;
  color:#FFFFFF;
  font-size:0.75em;
  display:none;
}
/* Geoportal.Control.Floating : */
.gpControlFloating {
  float:left;
  position:absolute;
  top:10%;
  left:10%;
  border:1px solid #FFFFFF;
  background-color:#99CCFF;
  font-family:Arial,Helvetica,sans-serif;
  font-size:1.0em;
  width:auto;
}
.gpControlFloating .gpControlFloatingHead {
  float:left;
  position:relative;
  top:0px;
  left:0px;
  background-color:#336699;
  color:#FFFFFF;
  font-size:0.70em;
  cursor:pointer;
  clear:both;
  width:auto;
}
.gpControlFloating .gpControlFloatingHead span {
  font-weight:bold;
  padding:0px 0px 0px 1em;
}
.gpControlFloating .gpControlFloatingHeadBtns {
  float:right;
  position:absolute;
  right:0px;
  top:0px;
  cursor:default;
  height:100%;
  min-width:22px;
  width:auto!important;
  width:22px;
}
.gpControlFloating .gpControlFloatingHeadBtns .gpControlFloatingHeadBtnsClose {
  float:right;
  position:absolute;
  top:0px;
  right:0px;
  cursor:pointer;
}
.gpControlFloating .gpControlFloatingHeadBtns .gpControlFloatingHeadBtnsMin {
  float:right;
  position:absolute;
  top:0px;
  cursor:pointer;
}
.gpControlFloating .gpControlFloatingHeadBtns .gpControlFloatingHeadBtnsMax {
  float:right;
  position:absolute;
  top:0px;
  cursor:pointer;
}
.gpControlFloating .gpControlFloatingBody {
  clear:both;
  float:left;
  position:relative;
  top:0px;
  left:0px;
  margin:2px;
  color:#595E61;
  height:100%;
}
.gpControlFloating .gpControlFloatingBody form {
  float:left;
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  width:100%;
  height:100%;
}
.gpControlFloating .gpControlFloatingBody label,
.gpControlFloating .gpControlFloatingBody input,
.gpControlFloating .gpControlFloatingBody select {
  /*font-size:0.75em;
  white-space:nowrap;*/
}
.gpControlFloating .gpControlFloatingBody input[type="button"] {
  background:#FFCC00 none repeat scroll 0% 50%;
  border:1px solid #666666;
  color:#000000;
  cursor:pointer;
  font-size:0.70em;
  font-weight:bold;
  margin:2px;
}
.gpControlFloating .gpControlFloatingBody input[type="button"]:hover {
  background:#99CCFF none repeat scroll 0% 50%;
}
/* Geoportal.Control.SearchToolbar : */
.gpControlSearchToolbar {
  float:left;
  position:relative;
  height:27px;
  width:100%;
}
.gpControlSearchToolbar div {
  display:block;
  float:left;
  width:23px;
  height:23px;
  position:relative;
  left:1%;
  top:0px;
}
/* Geoportal.Control.LocationUtilityService : */
.gpControlSearchToolbar .gpControlLocationUtilityService {
}
.gpControlSearchToolbar .gpControlLocationUtilityServiceItemActive {
  background-image:url("img/picto_search_on.gif");
  background-repeat:no-repeat;
}
.gpControlSearchToolbar .gpControlLocationUtilityServiceItemInactive {
  background-image:url("img/picto_search_off.gif");
  background-repeat:no-repeat;
  cursor:pointer;
}
.gpControlSearchToolbar .gpControlLocationUtilityServiceButton {
}
.gpControlSearchToolbar .gpControlLocationUtilityServiceResults {
  float:left;
  background:#FFFFFF none repeat scroll 0%;
  border:1px solid;
  font-size:0.75em;
  max-height:80px;
  height: expression(this.scrollHeight > 80 ? "80px" : "auto");/* IE */
  margin:10px 0px 0px;
  overflow:auto;
  text-align:left;
  color:#000000;
  width:99%;
}
.gpControlSearchToolbar .gpControlLocationUtilityServiceReverse {
}
.gpControlSearchToolbar .gpControlLocationUtilityServiceReverseItemActive {
  background-image:url("img/picto_reversesearch_on.gif");
  background-repeat:no-repeat;
}
.gpControlSearchToolbar .gpControlLocationUtilityServiceReverseItemInactive {
  background-image:url("img/picto_reversesearch_off.gif");
  background-repeat:no-repeat;
  cursor:pointer;
}
.gpControlSearchToolbar .gpControlLocationUtilityServiceReverseButton {
}
.gpControlSearchToolbar .gpControlLocationUtilityServiceReverseResults {
  float:left;
  background:#FFFFFF none repeat scroll 0%;
  border:1px solid;
  font-size:0.75em;
  max-height:80px;
  height: expression(this.scrollHeight > 80 ? "80px" : "auto");/* IE */
  margin:10px 0px 0px 0px;
  overflow:auto;
  text-align:left;
  color:#000000;
  width:99%;
}
.gpControlSearchToolbar .gpControlLocationUtilityServiceGeoNames {
}
.gpControlSearchToolbar .gpControlLocationUtilityServiceGeoNamesItemActive {
  background-image:url("img/picto_geonamessearch_on.gif");
  background-repeat:no-repeat;
}
.gpControlSearchToolbar .gpControlLocationUtilityServiceGeoNamesItemInactive {
  background-image:url("img/picto_geonamessearch_off.gif");
  background-repeat:no-repeat;
  cursor:pointer;
}
.gpControlSearchToolbar .gpControlLocationUtilityServiceGeoNamesButton {
}
.gpControlSearchToolbar .gpControlLocationUtilityServiceGeoNamesResults {
  float:left;
  background:#FFFFFF none repeat scroll 0%;
  border:1px solid;
  font-size:0.75em;
  max-height:80px;
  height: expression(this.scrollHeight > 80 ? "80px" : "auto");/* IE */
  margin:10px 0px 0px 0px;
  overflow:auto;
  text-align:left;
  color:#000000;
  width:99%;
}
span.gpFormSmall {
  font-size:0.55em;
  padding-left:2em;
}
div.gpLUSResult {
  font-size:0.80em;
  background-color:#FFFFFF;
}
div.gpLUSResultAlternate {
  font-size:0.80em;
  background-color:#CCCCCC;
}
div.gpGeocodeMatchCode {
  float:left;
  position:relative;
  margin:1px 5px 1px 1px;
}
div.gpGeocodeMatchCodeAccuracy075to100 {
  float:left;
  position:relative;
  margin:1px 5px 1px 1px;
  background-color:#CCFF00;
}
div.gpGeocodeMatchCodeAccuracy050to075 {
  float:left;
  position:relative;
  margin:1px 5px 1px 1px;
  background-color:#CCCC00;
}
div.gpGeocodeMatchCodeAccuracy025to050 {
  float:left;
  position:relative;
  margin:1px 5px 1px 1px;
  background-color:#FFCC00;
}
div.gpGeocodeMatchCodeAccuracy000to025 {
  float:left;
  position:relative;
  margin:1px 5px 1px 1px;
  background-color:#FF6600;
}
img.gpGeocodeMatchCodeMatchType {
  position:relative;
  width:1.00em;
  height:1.00em;
}
/* Geoportal.Control.LayerToolbar : */
.gpControlLayerToolbar {
  float:left;
  position:relative;
  height:27px;
  width:100%;
}
.gpControlLayerToolbar div {
  display:block;
  float:left;
  width:23px;
  height:23px;
  position:relative;
  left:1%;
  top:0px;
}
/* Geoportal.Control.AddVectorLayer : */
.gpControlLayerToolbar .gpControlAddVectorLayer {
}
.gpControlLayerToolbar .gpControlAddVectorLayerItemActive {
  background-image:url("img/picto_addvectorlayer_on.gif");
  background-repeat:no-repeat;
}
.gpControlLayerToolbar .gpControlAddVectorLayerItemInactive {
  background-image:url("img/picto_addvectorlayer_off.gif");
  background-repeat:no-repeat;
  cursor:pointer;
}
.gpControlLayerToolbar .gpControlAddVectorLayerButton {
}
/* Geoportal.Control.AddImageLayer : */
.gpControlLayerToolbar .gpControlAddImageLayer {
}
.gpControlLayerToolbar .gpControlAddImageLayerItemActive {
  /*background-image:url("img/picto_addimagelayer_on.gif");*/
  background-image:url("img/picto_template_off.gif");
  background-repeat:no-repeat;
}
.gpControlLayerToolbar .gpControlAddImageLayerItemInactive {
  /*background-image:url("img/picto_addimagelayer_off.gif");*/
  background-image:url("img/picto_template_off.gif");
  background-repeat:no-repeat;
  /*cursor:pointer;*/
}
/* Geoportal.Control.ZoomBar : */
.nameScale {
  float:left;
  width:35px;
  height:100%;
  left:5px;
  top:5px;
}
.nameScale div {
  display:block;
  float:right;
  width:100%;
  list-style-type:none;
  font:9px Verdana,sans-serif;
  text-align:right;
  margin-bottom:12px;
}
.sliderZoomBar {
  background-image:url(img/bg_zoom.gif);
  background-repeat:no-repeat;
  position:relative;
  cursor:pointer;
}
/* Geoportal.Popup : */
.gpPopup {
  background-color:#FFFFFF;
  overflow:inherit;
}
.gpPopup * {
  font-size:1.0em;
}
.gpPopup a.close {
  background:url(img/close.gif) no-repeat top left;
  position:absolute;
  top:10px;
  right:28px;
  font-size:1px;
  width:14px;
  height:14px;
}
.gpPopup a.close:hover {
  background:url(img/close-hover.gif) no-repeat top left;
}
.gpPopup .gpPopupContent {
  background-color:#FFFFFF !important;
  padding:1px !important;
  margin:0px !important;
}
.gpPopupCloseBox {
  background:url(img/ico_win_close.gif) no-repeat;
  cursor:pointer;
}
.gpPopup .gpPopupContent .gpPopupHead {
  background-color:#CCCCFF;
  color:#006699;
  font-size:1.0em;
  font-weight:bold;
  line-height:1.6em;
}
.gpPopup .gpPopupContent .gpPopupBody {
  font-size:0.80em;
}
.gpPopup .gpPopupContent .gpPopupBody h2 {
  font-size:small;
  text-align:center;
  padding:2px 0px 2px 0px;
  margin:0px 6px 0px 6px;
  text-transform:capitalize;
}
.gpPopup .gpPopupContent .gpPopupBody table {
  border-collapse:collapse;
  overflow:auto;
}
.gpPopup .gpPopupContent .gpPopupBody table td {
  padding:4px;
  border:1px solid #CCCCCC;
}
.gpPopup .gpPopupContent .gpPopupBody a:link,
.gpPopup .gpPopupContent .gpPopupBody a:visited {
  text-decoration:none;
}
.gpPopup .gpPopupContent .gpPopupBody a:hover {
  text-decoration:underline;
}
.gpPopup .gpPopupContent .gpPopupBody img {
}
/* Geoportal.Control.Information : */
.gpControlInformation {
  float:left;
  position:relative;
  top:0px;
  background-color:#417690;
	color:#ffffcc;
	border: none;
  vertical-align:middle;
  font-family:Arial,Helvetica,sans-serif;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
  overflow:visible;
  width:100%;
  height:44px;
	font-size:11px;
}
/* Geoportal.Control.GraphicScale : */
.gpControlGraphicScale {
  float:left;
  position:relative;
  left:5px;
  top:0px;
  font-family:Verdana,Arial,Helvetica;
  font-size:0.7em;
  width:200px;
}
.gpControlGraphicScaleText1 {
  margin-left:5px;
}
.gpControlGraphicScaleText2 {
  float:right;
  margin-right:5px;
}
.gpControlGraphicScaleLegend {
  margin-left:5px;
  margin-right:5px;
  overflow:hidden;
}
.gpControlGraphicScaleFullBlock {
  float:left;
  background-color:white;
  font-size:1px;
  height:5px;
  line-height:0px;
  white-space:nowrap;
  margin-bottom:5px;
}
.gpControlGraphicScaleEmptyBlock {
  float:left;
  background-color:black;
  height:5px;
  white-space:nowrap;
  font-size:1px;
  line-height:0px;
  margin-bottom:5px;
}
/* Geoportal.Control.Projections : */
.gpControlProjections {
  float:left;
  position:absolute;
  left:25%;
  top:2px;
	font-size: 8px;
}
.gpSelectProjections {
  float:left;
  position:absolute;
  top:0px;
  left:0px;
  background-color:#99CCFF;
  border:thin solid #336699;
  margin:0px;
  padding:0px;
  overflow:hidden;
  font-size:10px;
}
.gpSelectProjections option {
  border:0px;
  padding:0px;
  margin:0px;
}
/* Geoportal.Control.MousePosition : */
.gpControlMousePosition {
  float:left;
  position:absolute;
  left:25%;
  top:55%;
	font-size: 10px;
  text-align:center;
  white-space:nowrap;
}
.gpSmallPositions {
  font-size:0.50em;
}
.gpLong, .gpLat {
  border:0px none;
  margin:0px;
  padding:0px;
  background-color:#99CCFF;
  font-weight:normal;
  font-size:0.90em;
}
.gpSelectUnits {
  position:relative;
  top:0px;
  left:2%;
  background-color:#99CCFF;
  border:thin solid #336699;
  margin:0px;
  padding:0px;
  overflow:hidden;
  font-size:0.90em;
}
.gpSelectUnits option {
  border:0px;
  padding:0px;
  margin:0px;
}
/* Geoportal.Control.Copyright : */
.gpControlCopyright {
  float:right;
  position:absolute;
  top:0%;
  right:0%;
  margin:0px 5px 0px 0px;
  width:auto;
}
/* Geoportal.Control.LayerSwitcher : */
.gpControlLayerSwitcher {
  position:absolute;
  top:0px;
  left:0px;
  width:163px;
  border:1px solid #FFFFFF;
  z-index:1007;
}
.gpMainDivClass {
  top:0px;
  right:0px;
  cursor:default;
  background-color:#FFFFFF;
  color:#595E61;
  font-size:0.75em;
  font-weight:normal;
  text-align:left;
}
.gpLayersClass {
  font-family:Arial,Helvetica,sans-serif;
}
.gpControlLabelClass {
  font-family:Arial,Helvetica,sans-serif;
  color:#FFFFFF;
  background:#336699;
  padding:2px 0px 2px 14px;
  font-weight:bold;
  font-size:8px;
}
.gpGroupDivClass {
  position:relative;
  font-size:90%;
  margin:2px 0px 0px 0px;
  width:100%;
  max-height:225px;
  overflow-x:hidden;
  overflow-y:auto!important;
  overflow-y:expression(this.scrollHeight > 225 ? "scroll" : "hidden");/* IE */
  height:expression(this.scrollHeight > 225 ? "225px" : "auto");/* IE */
}
.gpLayerDivClass {
  float:left;
  position:relative;
  top:0px;
  left:0px;
  border:1px solid #666666;
  background-color:#FFFFCC;
  width:98%;
  min-height:27px;
  height:auto !important;/* IE ignores auto ... */
  height:27px;/* IE treats this as min-height as it augments the height as necessary */
}
.gpLayerDivClassAlternate {
  float:left;
  position:relative;
  top:0px;
  left:0px;
  border:1px solid #666666;
  background-color:#FEE990;
  width:98%;
  min-height:27px;
  height:auto !important;/* IE ignores auto ... */
  height:27px;/* IE treats this as min-height as it augments the height as necessary */
}
.gpLayerNameGroupDivClass {
  clear:both;
  float:left;
  position:relative;
  top:0px;
  left:0px;
  height:27px;
  width:100%;
}
.gpLayerVisibilityClass {
  margin-left:2%;
  margin-top:2%;
  cursor:pointer;
}
.gpLayerSpanClass {
  margin-left:2%;
  vertical-align:baseline;
  width:80%;
  white-space:nowrap;
}
.gpLayerSpanClassNotInRange {
  margin-left:2%;
  vertical-align:baseline;
  width:80%;
  white-space:nowrap;
  color:#ADADAD;
}
.gpLayerAbstractDivClass {
  font-size:0.8em;
}
.gpLayerUrlsDivClass {
  margin:2px;
  font-size:0.8em;
}
.gpLayerDataURLClass {
  border:2px outset #FFFFFF;
  width:98%;
  display:-moz-inline-box;
  display:inline-block;
  cursor:pointer;
  font-weight:bold;
}
.gpLayerMetadataURLClass {
  border:2px outset #FFFFFF;
  width:98%;
  display:-moz-inline-box;
  display:inline-block;
  cursor:pointer;
  font-weight:bold;
}
.gpButtonsChangeOrderClass {
  position:absolute;
  height:20px;
  right:3%;
  top:4px;
  width:7px;
}
.gpButtonDown {
  position:absolute;
  background-image:url(img/fl_couche_B.gif);
  background-repeat:no-repeat;
  width:7px;
  height:7px;
  margin:0px;
  padding:0px;
  top:50%;
  cursor:pointer;
}
.gpButtonDownDeactive {
  position:absolute;
  background-image:url(img/fl_couche_B_no.gif);
  background-repeat:no-repeat;
  width:7px;
  height:7px;
  top:50%;
  cursor:default;
}
.gpButtonUp {
  position:absolute;
  background-image:url(img/fl_couche_H.gif);
  background-repeat:no-repeat;
  width:7px;
  height:7px;
  cursor:pointer;
}
.gpButtonUpDeactive {
  position:absolute;
  background-image:url(img/fl_couche_H_no.gif);
  background-repeat:no-repeat;
  width:7px;
  height:7px;
  cursor:default;
}
/* Geoportal.Control.PanelToggle : */
.gpControlPanelToggle {
}
.gpControlPanelToggleItemActive {
  background-image:url("img/regl_Horiz_Bas.gif");
  background-repeat:no-repeat;
  background-position:50% 0%;
  clear:both;
  float:left;
  position:relative;/* IE hack for background-image */
  top:0px;
  left:0px;
  width:100%;
  height:6px;
  cursor:pointer;
  overflow:hidden;/* IE hack */
}
.gpControlPanelToggleItemInactive {
  background-image:url("img/regl_Horiz_Haut.gif");
  background-repeat:no-repeat;
  background-position:50% 0%;
  clear:both;
  float:left;
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  height:6px;
  cursor:pointer;
  overflow:hidden;/* IE hack */
}
/* Geoportal.Control.RemoveLayer : */
.gpControlRemoveLayer {
}
.gpControlRemoveLayerNoneItemActive {
  background-image:url("img/picto_template_off.gif");
  background-repeat:no-repeat;
  cursor:default;
  position:relative;
  float:left;
  left:0%;
  top:0%;
  width:23px;
  height:23px;
}
.gpControlRemoveLayerNoneItemInactive {
  cursor:default;
  position:relative;
  float:left;
  left:0%;
  top:0%;
  width:23px;
  height:23px;
  display:none;
}
.gpControlRemoveLayerItemActive {
  background-image:url("img/picto_layerDrop_off.gif");
  background-repeat:no-repeat;
  cursor:pointer;
  float:left;
  position:relative;
  left:0%;
  top:0%;
  width:23px;
  height:23px;
}
.gpControlRemoveLayerItemInactive {
  cursor:default;
  position:relative;
  float:left;
  left:0%;
  top:0%;
  width:23px;
  height:23px;
  display:none;
}
/* Geoportal.Control.LayerOpacitySlider : */
.gpControlLayerOpacitySlider {
}
/* Geoportal.Control.LayerOpacity : */
.gpControlLayerOpacity {
}
.gpControlLayerOpacityItemActive {
  background-color:transparent;
  float:left;
  position:relative;
  top:0%;
  left:0%;
  width:80px;
  height:20px;
}
.gpControlLayerOpacityItemInactive {
  background-color:transparent;
  float:left;
  position:relative;
  top:0%;
  left:0%;
  width:80px;
  height:20px;
  display:none;
}
.gpControlLayerOpacityTrackSliderClass {
  float:left;
  position:absolute;
  left:0px;
  top:0px;
}
.gpControlLayerOpacityOpacityClass {
  float:left;
  position:absolute;
  left:75%;
  top:10%;
  width:auto;
  font-size:0.75em;
}
/* Geoportal.Control.ZoomToLayerMaxExtent : */
.gpControlZoomToLayerMaxExtent {
}
.gpControlZoomToLayerMaxExtentNoneItemActive {
  background-image:url("img/picto_template_off.gif");
  background-repeat:no-repeat;
  cursor:default;
  position:relative;
  float:right;
  left:0%;
  top:0%;
  width:23px;
  height:23px;
}
.gpControlZoomToLayerMaxExtentNoneItemInactive {
  cursor:default;
  position:relative;
  float:right;
  left:0%;
  top:0%;
  width:23px;
  height:23px;
  display:none;
}
.gpControlZoomToLayerMaxExtentItemActive {
  background-image:url("img/picto_zoomToExtent_off.gif");
  background-repeat:no-repeat;
  cursor:pointer;
  position:relative;
  float:right;
  left:0%;
  top:0%;
  width:23px;
  height:23px;
}
.gpControlZoomToLayerMaxExtentItemInactive {
  cursor:default;
  position:relative;
  float:right;
  left:0%;
  top:0%;
  width:23px;
  height:23px;
  display:none;
}
/* Geoportal.Control.BasicLayerToolbar : */
.gpControlBasicLayerToolbar {
  clear:both;
  float:left;
  position:relative;
  top:0px;
  left:0px;
  min-height:6px;
  height:auto !important;/* IE */
  height:6px;/* IE */
  width:100%;
}
/* Geoportal.Control.EditingToolbar : */
.gpControlEditingToolbar  {
  float:left;
  border:1px outset #FFFFFF;
  width:98%;
  height:23px; 
}
.gpControlEditingToolbar .olControlDrawFeaturePointItemActive { 
  background-image:url("img/picto_drawPoint_on.gif");
  background-repeat:no-repeat;
  background-position:0px; 
  float:left;
  width:23px;
  height:23px;
}
.gpControlEditingToolbar .olControlDrawFeaturePointItemInactive { 
  background-image:url("img/picto_drawPoint_off.gif");
  background-repeat:no-repeat;
  background-position:0px; 
  float:left;
  width:23px;
  height:23px;
}
.gpControlEditingToolbar .olControlDrawFeaturePathItemActive { 
  background-image:url("img/picto_drawLine_on.gif");
  background-repeat:no-repeat;
  background-position:0px; 
  float:left;
  width:23px;
  height:23px;
}
.gpControlEditingToolbar .olControlDrawFeaturePathItemInactive { 
  background-image:url("img/picto_drawLine_off.gif");
  background-repeat:no-repeat;
  background-position:0px; 
  float:left;
  width:23px;
  height:23px;
}
.gpControlEditingToolbar .olControlDrawFeaturePolygonItemActive { 
  background-image:url("img/picto_drawPolygon_on.gif");
  background-repeat:no-repeat;
  background-position:0px ;                                                                   
  float:left;
  width:23px;
  height:23px;
}
.gpControlEditingToolbar .olControlDrawFeaturePolygonItemInactive { 
  background-image:url("img/picto_drawPolygon_off.gif");
  background-repeat:no-repeat;
  background-position:0px; 
  float:left;
  width:23px;
  height:23px;
}
.gpControlEditingToolbar .olControlDrawFeatureRegularPolygonItemActive { 
  background-image:url("img/picto_drawSquare_on.gif");
  background-repeat:no-repeat;
  background-position:0px ;                                                                   
  float:left;
  width:23px;
  height:23px;
}
.gpControlEditingToolbar .olControlDrawFeatureRegularPolygonItemInactive { 
  background-image:url("img/picto_drawSquare_off.gif");
  background-repeat:no-repeat;
  background-position:0px; 
  float:left;
  width:23px;
  height:23px;
}
.gpControlEditingToolbar .olControlDragFeatureItemActive {
  background-image:url(img/picto_moveFeature_on.gif);
  background-repeat:no-repeat;
  background-position:0px;
  float:left;
  width:23px;
  height:23px;
}
.gpControlEditingToolbar .olControlDragFeatureItemInactive {
  background-image:url(img/picto_moveFeature_off.gif);
  background-repeat:no-repeat;
  background-position:0px;
  float:left;
  width:23px;
  height:23px;
}
.gpControlEditingToolbar .olControlModifyFeatureItemActive {
  background-image:url(img/picto_modifyFeature_on.gif);
  background-repeat:no-repeat;
  background-position:0px;
  float:left;
  width:23px;
  height:23px;
}
.gpControlEditingToolbar .olControlModifyFeatureItemInactive {
  background-image:url(img/picto_modifyFeature_off.gif);
  background-repeat:no-repeat;
  background-position:0px;
  float:left;
  width:23px;
  height:23px;
}
.gpControlEditingToolbar .gpControlDeleteFeatureItemActive {
  background-image:url(img/picto_deleteFeature_on.gif);
  background-repeat:no-repeat;
  background-position:0px;
  float:left;
  width:23px;
  height:23px;
}
.gpControlEditingToolbar .gpControlDeleteFeatureItemInactive {
  background-image:url(img/picto_deleteFeature_off.gif);
  background-repeat:no-repeat;
  background-position:0px;
  float:left;
  width:23px;
  height:23px;
}
.gpControlEditingToolbar .olControlSelectFeatureItemActive {
  background-image:url(img/picto_selectFeature_on.gif);
  background-repeat:no-repeat;
  background-position:0px;
  float:left;
  width:23px;
  height:23px;
}
.gpControlEditingToolbar .olControlSelectFeatureItemInactive {
  background-image:url(img/picto_selectFeature_off.gif);
  background-repeat:no-repeat;
  background-position:0px;
  float:left;
  width:23px;
  height:23px;
}
/* Geoportal.Control.Logo : */
.gpControlPermanentLogo {
  position:absolute;
  left:3px;
  bottom:0px;
  float:right;
  margin:0px 5px 5px 0px;
  z-index:10000 !important;
}
.gpControlPermanentLogo img {
}
.gpControlLogo {
  position:absolute;
  right:0px;
  bottom:0px;
  float:right;
  margin:0px 5px 5px 0px;
}
.gpControlLogo div {
  display:block;
  float:left;
  margin:0px 3px 0px 0px;
  white-space:nowrap;
}
.gpControlLogo img {
}
/* Geoportal.Control.OverviewMap : */
/*
.gpControlOverviewMapContainer {
  position:absolute;
  bottom:65px;
  right:0px;
}
.gpControlOverviewMapMinimizeButton {
  right:0px;
  bottom:80px;
}
.gpControlOverviewMapMaximizeButton {
  right:0px;
  bottom:80px;
}
.gpControlOverviewMapExtentRectangle {
  cursor:move;
  border:2px dotted red;
}
 */
